/* Static: backup for browsers without variable support */
@font-face {
    font-family: 'DMSans';
    src: url('../fonts/static/DMSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'DMSans';
    src: url('../fonts/static/DMSans-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'DMSans';
    src: url('../fonts/static/DMSans-MediumItalic.ttf') format('truetype');
    font-style: italic;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'DMSansVar';
        src: url('../fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
        font-weight: 400 800;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'DMSansVar';
        src: url('../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
        font-weight: 400 500;
        font-style: italic;
        font-display: swap;
    }
}

:root {
    --color-Purple-100: hsl(254, 88%, 90%);
    --color-Purple-500: hsl(256, 67%, 59%);

    --color-Yellow-100: hsl(31, 66%, 93%);
    --color-Yellow-500: hsl(39, 100%, 71%);

    --color-White: hsl(0, 0%, 100%);
    --color-Black: hsl(0, 0%, 7%);

    --font-family-main: 'DMSansVar', 'DMSans', sans-serif;

    --font-weight-400: 400;
    --font-weight-500: 500;


    --font-size-card-title: 1.75rem;
    /* 28px */
    --font-size-card-body: 1.125rem;
    /* 18px */

}

/* reset */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    border: 0;
}

body {
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-400);
    line-height: 1;
    color: var(--color-Black);
    background-color: var(--color-White);
    margin: 1rem;

}

img {
    max-width: 100%;
    display: block;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-500);
}

small {
    font-size: 1rem;
    font-weight: var(--font-weight-400);
    ;
}

/* auxiliar */
.flex {
    display: flex;
    gap: 1rem;
}

/* grid bento */
.bento {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-inline: auto;
    background-color: var(--color-White);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 60rem;


}

.bento__grid {

    display: grid;
    grid-template-columns: .7fr 1.5fr .6fr;
    grid-template-rows: 15rem 13rem 12rem;
    grid-template-areas:
        'one two five'
        'one three five'
        'one four four';
    grid-gap: 1rem;
}

.bento__column--one {
    grid-area: one;
    flex-direction: column;
    align-items: stretch;

}

.bento__column--two {
    grid-area: two;
}

.bento__column--three {
    grid-area: three;
}

.bento__column--four {
    grid-area: four;
}

.bento__column--five {
    grid-area: five;
}

.bento__card {
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    padding: 1rem;
}

.bento__card-title {
    font-size: var(--font-size-card-title);
    line-height: 1;
    margin-bottom: 0.5rem;
}

.bento__card--one {
    background-color: var(--color-Yellow-100);

}

.bento__card--two {
    background-color: var(--color-Yellow-500);
    color: var(--color-Black);
}

.bento__card--three {
    background-color: var(--color-Purple-500);
    color: var(--color-White);
    text-align: center;
}

.bento__card--four {
    background-color: var(--color-White);
    overflow: hidden;
    flex-shrink: 1.3;
}

.bento__card--five {
    background-color: var(--color-Yellow-500);
    overflow: hidden;
}

.bento__card--six {
    background-color: var(--color-White);
    flex-shrink: 2.6;
}

.bento__card--seven {
    background-color: var(--color-Purple-500);
    color: var(--color-White);
}

.bento__card--eight {
    background-color: var(--color-Purple-100);
    padding: 1.5rem;
    overflow: hidden;
}
.bento__card--one .bento__card-title {
  margin-top: 1.5rem;
}
.bento__card--one .bento__card-title--italic {
    font-style: italic;
    color: var(--color-Purple-500);
}
.bento__card--one .bento__card-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.bento__card--two .bento__card-title {
    margin-bottom: 1.5rem;
}

.bento__card--three .bento__card-title {
    margin-top: 1.5rem;
    font-size: 3.5rem;
    font-weight: var(--font-weight-500);
}

.bento__card--three .bento__card-img {
    max-width: 10rem;
    margin-inline: auto;
}

.bento__card--three .bento__card-title--highlight {
    color: var(--color-Yellow-500);
}

.bento__card--four .bento__card-img {
    max-width: 145%;
    position: relative;
    margin-bottom: 1rem;
}

.bento__card--four .bento__card-title,
.bento__card--five .bento__card-title {
    font-size: 1.5rem;

}

.bento__card--six .bento__card-title {
    font-size: 3rem;

}

.bento__card--six .bento__card-img {
    max-width: 80%;
    margin-top: 1rem;
}

.bento__card--seven .bento__card-title {
    margin-top: auto;
    margin-bottom: auto;
}
.bento__card--seven .bento__card-img {
    max-width: 50%;

}
.bento__card--eight .bento__card-title {
    font-size: 1.4rem;
    margin-top: 1rem;

}

.bento__card--eight .bento__card-img {
    max-width: 185%;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bento__card--eight .bento__card-body--small {
    font-size: .8rem;
    font-weight: var(--font-weight-400);
}

.attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}